<%- include('header'); -%>

  <body style="background-color: #F31559;">
    <div class="rounded-lg m-3 p-8" style="background-color: #F31559;">
      <center class="pb-8">
        <div class="bg-gray-800 p-8 m-3 rounded-lg">
            <h1 class="text-white text-2xl font-bold">Unable to Generate Link !</h1>
            <br>
            <h1 class="text-white text-xl font-bold">Error: Link already Exists</h1>
        </div>
      </center>
    </div>
  </body>
  <%- include('footer'); -%>